In [3]:
import pandas as pd
import pyspark 
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName("spark-practice").getOrCreate()

23/04/14 12:01:13 WARN Utils: Your hostname, codespaces-cec07a resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
23/04/14 12:01:13 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/04/14 12:01:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [14]:
df = spark.read.csv("countries_dataset.csv", header=True, inferSchema=True)
df.show(5)

+----+---+-------------+-------------+----------+------------+------------------+--------------+
|Rank| ID|      Country|    Continent|Population|     IMF_GDP|            UN_GDP|GDP_per_capita|
+----+---+-------------+-------------+----------+------------+------------------+--------------+
|   1|840|United States|North America| 339996.56| 2.669515E13|      1.8624475E13|      78515.94|
|   2|156|        China|         Asia|1425671.35|2.1865482E13|1.1218281029298E13|      15336.97|
|   3|392|        Japan|         Asia| 123294.51| 5.291351E12| 4.936211827875E12|      42916.35|
|   4|276|      Germany|       Europe|  83294.63| 4.564778E12| 3.477796274497E12|      54802.79|
|   5|356|        India|         Asia|1428627.66|  3.89367E12| 2.259642382872E12|       2725.46|
+----+---+-------------+-------------+----------+------------+------------------+--------------+
only showing top 5 rows

In [15]:
df.dtypes

[('Rank', 'int'),
 ('ID', 'int'),
 ('Country', 'string'),
 ('Continent', 'string'),
 ('Population', 'double'),
 ('IMF_GDP', 'double'),
 ('UN_GDP', 'double'),
 ('GDP_per_capita', 'double')]

In [16]:
df.columns

['Rank',
 'ID',
 'Country',
 'Continent',
 'Population',
 'IMF_GDP',
 'UN_GDP',
 'GDP_per_capita']

In [22]:
df.groupBy('Continent').count().show()

+-------------+-----+
|    Continent|count|
+-------------+-----+
|       Europe|   50|
|       Africa|   54|
|North America|   34|
|South America|   12|
|      Oceania|   17|
|         Asia|   45|
+-------------+-----+

In [27]:
df.groupBy("Continent").mean("IMF_GDP").show()

+-------------+--------------------+
|    Continent|        avg(IMF_GDP)|
+-------------+--------------------+
|       Europe|        5.2915196E11|
|       Africa|5.739488888888888...|
|North America|9.144699117647059E11|
|South America|        3.2317975E11|
|      Oceania|1.264089411764705...|
|         Asia|9.742229333333334E11|
+-------------+--------------------+